process
{
	withName: RunSkesa{
		container = 'quay.io/biocontainers/skesa:2.5.1--hdcf5f25_0'
			}
    withName: RunQuast{
        container = 'quay.io/biocontainers/quast:5.0.1--py27pl526ha92aebf_0'
    		}
   	withName: RunMLST{
        container = 'quay.io/biocontainers/mlst:2.15.1--0'
    		}
}
docker.enabled = true		